<div class="guInteractive">

    <div class='guSlice guHeader'>
        <div class='guContainer'>
            <h1 class='f-headline'>Letters from Prince Charles</h1>
            <p class='f-bodyCopy'>At least 27 handwritten letters by Prince Charles, known as the black spider memos, have been disclosed after a long legal battle spanning nearly a decade.</p>

            <shareTemplate />
        </div>
    </div>

    <div class='guSlice guContent'>
        <div class='guContainer'>
            <navTemplate />
        </div>
    </div>

    <div class='guSlice guLetters'>
        <div class='guContainer'>
            <letterTemplate />
        </div>
    </div>


    
</div>
