<div class="guInteractive">

    <div class='guSlice guHeader'>
        <div class='guContainer'>
            <h1 class='f-headline'>{{config.headline}}</h1>
            <p class='f-bodyCopy'>{{config.standfirst}}</p>

            <shareTemplate />
        </div>
    </div>

    <div class='guSlice guContent'>
        <div class='guContainer'>
            <navTemplate />
        </div>
    </div>

    <div class='guSlice guLetters'>
        <div class='guContainer'>

            
            {{#letters:i}}
                <letterTemplate id='{{id}}' annotations='{{annotations}}' />
            {{/letters}}
        </div>
    </div>


    
</div>
