<div class="guInteractive">

    <div class='guSlice guHeader'>
        <div class='guContainer'>
            <h1 class='f-headline'>{{config.headline}}</h1>
            <p class='f-bodyCopy'>{{config.standfirst}}</p>

            <shareTemplate />
        </div>
    </div>

    <div class='guSlice guContent'>
        <div class='guContainer'>
            <navTemplate />
        </div>
    </div>

    <div class='guSlice guLetters'>
        <div class='guContainer'>

            <div id="DC-note-189391" class="DC-note-container"></div>
<script src="//s3.amazonaws.com/s3.documentcloud.org/notes/loader.js"></script>
<script>
  dc.embed.loadNote('//www.documentcloud.org/documents/1370774-interview-witness-62/annotations/189391.js');
</script>

            {{#letters:i}}
                <letterTemplate id='{{id}}' annotations='{{annotations}}' />
            {{/letters}}
        </div>
    </div>


    
</div>
