<div class='guLetter' id='letter-{{id +1}}' >
	



	<div class='colA'>
		<div class='letterNumber f-textSans'>
			<twitterTemplate /> Letter {{id+1}} of {{letters.length}}
			
			
			
		</div>
		
		<div class='letterInfo'>

			{{#date}}<div class='letterDate f-bodyCopy'>{{date}}</div>{{/date}}
			<div class='letterRecipient f-subHeader'>{{recipient}}</div>
			{{#notes}}<div class='letterTopic f-bodyCopy'>{{notes}}</div>{{/notes}}
	
			{{#docurl}}<a class='docLink' href='{{docurl}}'><div class='viewDocument f-textSans'>View original document</div></a>{{/docurl}}

		</div>
	</div>

	<div class='colB'>
	
		<div class='annotations'>
			<div class='a-images {{#origVisible}}origVisible{{/origVisible}}'>
				<div class='extract'>
					{{^origVisible}}
						<img src ='{{getImageUrl(1, images[0])}}' >
						<div class='guButton f-textSans' on-click='showOrig'>View letter</div>
					{{/origVisible}}

					{{#origVisible}}
						
						<div class='extractFull' intro='slide'>
							{{#images:i}}
							
								<img src ='{{getImageUrl(i+1, this)}}' >
							
							{{/images}}
						</div>
					{{/origVisible}}
				</div>
			</div>

			<div class='g-annotations'>
				{{#annotations:a}}
				
						{{#a == 0}}
							<rowTemplate />
						{{/a}}
						{{#a > 0 && showFullLetter}}
							<rowTemplate />
						{{/a}}



	

				{{/annotations}}

				{{^showFullLetter}}
					<div class='guButton seeAll f-textSans' on-click='mobileShowLetter'>Read more of this letter</div>
				{{/showFullLetter}}
			</div>


		</div>
	

	</div>
	<div class='colC f-textSans'><a href='#'>^ Back to top</a></div>

</div>


<style>



.colA {
	float: left;
	padding: 20px;
}

.colB {
	background: #f6f6f6;
	float: left;
}

.colC {
	width: 100%;
	float: left;
	padding: 20px 0;
	text-align: right;
}

.colC a {
	text-decoration: none;
	color: #dcdcdc;

}

.guLetter {
	width: 100%;
	border-bottom: 4px solid #eaeaea;
	float: left;
}

.letterNumber {
	color: #e6711b;
	font-size: 16px;
	position: relative;
	padding-bottom: 10px;
	line-height: 30px;
	vertical-align: top;
}

.letterInfo {
	width: 80%;
	position: relative;
	padding-top: 20px;
	float: left;
}

.letterNumber::after {
	content: '';
	width: 108px;
	height: 1px;
	background: #eaeaea;
	position: absolute;
	bottom: 0;
	left: 0;
}

.letterImage {
	width: 150px;
	border: 1px solid #f1f1f1;
	min-height: 100px;

	float: left;

}

.letterImage img {
	width: 100%;
	float: left;
}

.letterDate {
	margin-bottom: 5px;
	font-size: 14px;
	color: #333;
}

.letterRecipient {
	font-size: 24px;
	color: #333;
	padding-bottom: 10px;

}

.letterTopic {
	margin-bottom: 20px;
	line-height: 22px;
}

.viewDocument {
	font-size: 14px;
}

.docLink {
	text-decoration: none;
	width: 100%;
	float: left;
}

.row {
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
}

.rowStack {
	width: 100%;

}

.rowStack img {
	width: 100%;
	border: 1px solid #fff5e9;
}

.rowExtract {
	

}

.extract {

	background: #ffffff;
	background-size: 30px;
	padding: 20px;
	font-size: 16px;
	line-height: 24px;
	color: #333;
	min-height: 50px;
	position: relative;
}

.extract span {
    color: black;
    background-color: black;
  
    -moz-transform: rotate(.8deg) skewx(-12deg);
    -moz-box-shadow:3px 0 2px #444;
    border:1px dotted #555;
    background: -moz-linear-gradient(180deg, #000, #222);
}

.annotation {

	font-size: 14px;
	line-height: 20px;
	color: #333;
	padding: 10px 10px 10px 70px;
}

.paper-shadow {
  	position:relative;       
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.05) ;
       -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.05) ;
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.05) ;
}

.a-images {
	height: 220px;
	overflow: hidden;
	width: 100%;
	position: relative;
}

.a-images img {
	width: 100%;
	float: left;
}

.a-images.origVisible {
	height: auto;
}

.guButton.seeAll{
	padding: 10px 20px;
  	margin: 20px 0 0 20px;
}

.extractFull img, .extract img {
	width: 100%;
	height: auto;
}

@media (min-width: 440px){
	
}

@media (min-width: 740px){

	.guLetter {
		padding-bottom: 60px;
		border-bottom: 1px solid #eaeaea;
		margin-bottom: 20px;
	}


	.annotation {
		padding: 0;
	}

	.rowStack {
		width: 100%;
		float: left;
	}

	.annotation {
		width: 160px;
		float: left;
		padding-left: 20px;
		padding-top: 20px;
	}
	.extract {
		width: 460px;
		float: left;
		font-size: 18px;
		line-height: 30px;
		padding: 10px 40px;
	}

	.g-annotations .a-row:first-child .annotation {
		padding-top: 40px;
	}

	

	.g-annotations .a-row:first-child .extract {
		padding: 40px 40px 20px 40px;
		/*margin-top: 10px;
		-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.05) inset;
		-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1), 0 0 20px rgba(0, 0, 0, 0.05) inset;*/
		
		
	}

	.g-annotations .paper-shadow{
		box-shadow: 0 0 -10px rgba(0, 0, 0, 0), 1px 0px -15px rgba(0, 0, 0, 0.1);
		position: relative;
	}
	.g-annotations .paper-shadow:after{
		position: absolute;
		top: -10px;
		left: 0;
		height: 20px;
		background: #fff;
		width: 100%;
		content: ' ';

	}

	.g-annotations .a-row:first-child .paper-shadow:after{
		display: none;
	}



	.g-annotations .a-row:last-child .extract {
		padding: 20px 40px 40px 40px;
	}



	.a-images .extractFull {
		min-height: 220px;
	}

	.extract .guButton {
		position: absolute;
		top: 180px;
		left: 20px;
	}

	.a-images {
		padding: 0 20px 0 0;
	}


}

@media (min-width: 980px){

	.colA {
		width: 220px;
		padding: 0;
	}

	.colB {
		width: 720px;
		padding-left: 20px;
	}

	.colC {
		padding-left: 110px;
	}

	.letterRecipient {
		font-size: 30px;
	}
	.extract {
		width: 560px;
	}

	.annotation {
		width: 120px;
	}


}

@media (min-width: 1140px){

	.colA {
		width: 220px;
	}

	.colB {
		width: 860px;
		padding-left: 20px;
	}

	.colC {
		padding-left: 110px;
	}

	.letterRecipient {
		font-size: 30px;
	}

	.extract {
		width: 640px;
		float: left;

	}

}


@media (min-width: 1300px){

	.letterInfo	{
		width: 100%;
	
		float: none;
	}

	.letterRecipient {
		font-size: 32px;
	}

	.letterImage {
		width: 220px;
	}

	.colA {
		width: 220px;
	}

	.colB {
		width: 960px;
	}

	.colC {
		padding-left: 110px;
	}

	.extract {
		width: 700px;
	}


	.annotation {
		width: 220px;
		float: left;
	}



}




</style>

<script>



	component.exports = {
		data: {
			getImageUrl: function(i, path){
				return path.replace('{size}', 'normal').replace('{page}', i)
			},
			origVisible: false,
			fullLetter: false

		},

		computed: {
			rows: function(){
				var id = this.get('id');
				var annotations = this.get('annotations');
				return annotations.filter(function(d){ return (d.id == id) ? true : false; })
			},
			pageImages: function(){
				var p =  this.get('pages');
				console.log(p)
				if( p == ''){
					return 0
				} else {
					return new Array(p)
				}
				
			},
			showFullLetter: function(){
				var w = this.get('windowWidth');
				if(w > 760){
					return true;
				} else {
					return this.get('fullLetter');
				}
			}
		},
		
		onrender: function(){
			this.on({
				showOrig: function(){
					this.toggle('origVisible');
				},
                'mobileShowLetter': function(){
                    this.toggle('fullLetter')
                }

			})

		}

	}



</script>



