<div class='guLetter' id='letter-{{id}}' >
	



	<div class='colA'>
		<div class='letterNumber f-headline'>
			<twitterTemplate />
			{{id}}
			
		</div>
		<div class='letterInfo'>

			{{#date}}<div class='letterDate f-textSans'>{{date}}</div>{{/date}}
			<div class='letterRecipient f-headline'>{{recipient}}</div>
			{{#topic}}<div class='letterTopic f-bodyCopy'>{{topic}}</div>{{/topic}}
			{{#pageImages:i}}
				<div class='letterImage'><a class='docLink' href='{{docurl}}'><img src ='http://s3.amazonaws.com/s3.documentcloud.org/documents/{{docid}}/pages/{{doclink}}-p{{i+1}}-small.gif' ></a></div>
			{{/pageImages}}
			{{#docurl}}<a class='docLink' href='{{docurl}}'><div class='viewDocument f-textSans'>View original document</div></a>{{/docurl}}

		</div>
	</div>

	<div class='colB'>
		{{#rows}}
		<div class='row'>
			

			{{#excerpt}}
			<div class='rowStack rowExtract'>

				<div class='extract f-textSans'>
					{{#imageurl}}
					<img src='{{imageurl}}' >
				{{/imageurl}}
					{{excerpt}}</div>
			</div>
			{{/excerpt}}

			{{#annotation}}
			<div class='rowStack'>
				<div class='annotation f-bodyCopy'>{{annotation}}</div>
			</div>
			{{/annotation}}

		</div>
		{{/rows}}

	</div>
	<div class='colC f-textSans'><a href='#'>^ Back to top</a></div>



</div>


<style>

.guLetter {
	padding: 50px 0;
	float: left;
}

.letterNumber {
	color: #e6711b;
	font-size: 56px;
	width: 64px;
	text-align: right;
	float: left;
}

.letterInfo {
	width: 75%;
	float: left;
	padding-left: 20px;
}

.letterImage {
	width: 30%;
	border: 1px solid #f1f1f1;
	min-height: 100px;
	padding: 10px;
	float: left;
	margin: 5px 5px 5px 0 ;
}

.letterImage img {
	width: 100%;
	height: auto;
}

.letterDate {
	margin-bottom: 5px;
	font-size: 14px;
	color: #333;
}

.letterRecipient {
	font-size: 24px;
	color: #333;

}

.letter-topic {
	font-size: 18px;
}

.viewDocument {
	font-size: 14px;
}

.docLink {
	text-decoration: none;
	width: 100%;
	float: left;
}

.row {
	width: 100%;
	margin-bottom: 10px;
	overflow: hidden;
}

.rowStack {
	width: 100%;

}

.rowStack img {
	width: 100%;
	border: 1px solid #fff5e9;
}

.rowExtract {
	

}

.extract {

	background: #efefec  10px 15px no-repeat;
	background-size: 30px;
	padding: 10px 10px 10px 10px;
	font-size: 16px;
	line-height: 24px;
	color: #333;
	min-height: 50px;

}

.annotation {

	font-size: 14px;
	line-height: 20px;
	color: #333;
	padding: 10px 10px 10px 84px;
}

.colA, .colB {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.colC {
	float: left;
	width: 100%;
	padding-left: 20px;
	color: #bdbdbd;
	font-size: 14px;
	text-align: right;
}

.colC a {
	text-decoration: none;
	color: #bdbdbd;
	cursor: pointer;
}


@media (min-width: 440px){
	
}

@media (min-width: 740px){
	.letterNumber {
		font-size: 60px;
	}

	.rowStack {

		
	}

	.rowExtract {
		background-size: 54px 50px;

	}

	.extract {
		padding: 20px;
	}

	.annotation {
		padding: 0;
	}
}

@media (min-width: 980px){
	.colA {
		width: 260px;
		margin-right: 20px;
	}

	.colB {
		width: 620px;
	}

	.letterNumber {
		font-size: 60px;
		width: 100%;
	}
	.letterRecipient {
		font-size: 30px;
	}

	.rowStack {
		width: 220px;
		padding-right: 20px;
		float: left;
	}
	.rowExtract {
		width: 380px;
		float: left;
	}
}

@media (min-width: 1140px){
	.colA {
		width: 220px;
		margin-right: 20px;
	}

	.colB {
		width: 720px;
	}

	.colC {
		width: 100px;
	}

	.letterNumber {
		font-size: 60px;
		width: 64px;
		margin-right: 20px;
	}

	.letterInfo {
		width: 195px;
	}
	.letterRecipient {
		font-size: 30px;
	}
	.rowStack {
		width: 240px;
		padding-right: 20px;
		float: left;
	}
	.rowExtract {
		width: 460px;
		float: left;
	}
}


@media (min-width: 1300px){
	.colA {
		width: 330px;

	}

	.colB {
		width: 760px;


	}
	.colC {
		width: 110px;
	}

	.letterNumber {
		font-size: 36px;
		width: 90px;
	}

	.letterInfo {
		width: 220px;
	}
	.letterRecipient {
		font-size: 32px;
	}
	.rowStack {
		width: 240px;
		padding-right: 20px;
		float: left;
	}
	.rowExtract {
		width: 460px;
		float: left;
	}

}


</style>

<script>



	component.exports = {

		computed: {
			rows: function(){
				var id = this.get('id');
				var annotations = this.get('annotations');
				return annotations.filter(function(d){ return (d.id == id) ? true : false; })
			},
			pageImages: function(){
				var p =  this.get('pages');
				console.log(p)
				if( p == ''){
					return 0
				} else {
					return new Array(p)
				}
				
			}
		},
		decorators: {
			
	
		}

	}



</script>



