
<div class='navContainer'>

	<div class='nacType'>
		<div class='navLabel f-subHeader'>Letters by recipient</div>
		<div class='navBtns'>
			{{#letters:i}}
				{{^nav}}
				<div on-click='scrollTo:{{i+1}}' class='navBtn f-bodyCopy'><div class='navNumber'></div><div class='navName'>{{recipient}}</div></div>
				{{/nav}}
			{{/letters}}
		</div>
	</div>

</div>


<style>

.navContainer {
	padding: 0 10px;
	overflow: auto;
}

.navLabel {
	font-size: 18px;
	position: relative;

	padding-bottom: 15px;
}



.navBtn {
	display: inline-block;
	width: 45%;
	margin-right: 15px;
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	cursor: pointer;
}

.navNumber {
	width: 20px;
	height: 20px;


	border-radius: 20px;
	background: rgba(255, 255, 255, 0.2) url(@@assetPath@@/imgs/lettericon.svg) center no-repeat;
	background-size: 20px;

	float: left;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	margin-right: 5px;
}

.navName {
	line-height: 30px;
	display: inline-block;
}

@media (min-width: 440px){
	
}

@media (min-width: 740px){
	.navContainer {
		padding: 0 ;
	}

	.navLabel {
		font-size: 22px;
	}

	.navBtn {
		font-size: 18px;
		padding-bottom: 20px;
		width: 220px;
		margin-right: 20px;
	}
	.navNumber {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
		margin-right: 10px;

	}

}

@media (min-width: 980px){
	
}

@media (min-width: 1140px){
	

}


@media (min-width: 1300px){

	.navLabel {
		width: 220px;
		float: left;
		padding-right: 20px;
	}

	.navBtns {
		width: 960px;
		float: left;
		margin-left: 20px;
	}


}


</style>
