
<div class='navContainer'>

	<div class='nacType'>
		<div class='navLabel f-headline'>Letters by recipient</div>
		<div class='navBtns'>
			{{#letters:i}}
				<div on-click='scrollTo:{{id}}' class='navBtn f-bodyCopy'><div class='navNumber'></div><div class='navName'>{{recipient}}</div></div>
			{{/letters}}
		</div>
	</div>

</div>


<style>

.navContainer {
	padding: 0 10px;
}

.navLabel {
	font-size: 18px;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
}

.navLabel::before {
	content: '';
	width: 108px;
	height: 1px;
	background: #dfdfdf;
	position: absolute;
	top: 0;
	left: 0;
}

.navBtn {
	display: inline-block;
	width: 45%;
	margin-right: 15px;
	font-size: 14px;
	line-height: 30px;
	color: #005689;
}

.navNumber {
	width: 20px;
	height: 20px;


	border-radius: 20px;
	background: #e6711b url(@@assetPath@@/imgs/lettericon.svg) center no-repeat;
	background-size: 20px;

	float: left;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	margin-right: 5px;
}

.navName {
	line-height: 30px;
	display: inline-block;
}

@media (min-width: 440px){
	
}

@media (min-width: 740px){
	.navContainer {
		padding: 0 ;
	}

	.navLabel {
		font-size: 24px;
	}

	.navBtn {
		font-size: 18px;
		padding-bottom: 15px;
		width: 220px;
	}
	.navNumber {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;

	}

}

@media (min-width: 980px){
	
}

@media (min-width: 1140px){
	.navLabel {
		font-size: 30px;
	}

}


@media (min-width: 1300px){

}


</style>
