/**
 * Project: Project name 
 * File:    Main SCSS
 */

@import 'modules/fonts';
@import 'modules/container';
@import 'bower_components/pasteup-palette/src/_palette';

body, figure  {
	margin: 0;
}


.guInteractive {
	overflow: hidden;
    //color: map-get($pasteup-palette, 'guardian-brand');
}

figure.element-interactive {
	margin: 0;
}

.content__head {
	display: none;
}

.content--interactive .gs-container.u-cf{
	display: none;
}

.content--interactive .gs-container{
	padding: 0 !important;
	max-width: 100% !important;
	margin: 0;
}

.l-footer {
	display: block !important;
}